<form method="post" action="{{ path('app_ligne_frais_hors_forfait_delete', {'id': uneLigneFraisHorsForfait.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer cette ligne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uneLigneFraisHorsForfait.id) }}">
    <button class="btn custom-button btn-outline-dark rounded-2 me-2">Delete</button>
</form>
