{% extends 'base.html.twig' %}

{% block title %}New FicheFrais{% endblock %}

{% block body %}
    <h1>Créer une nouvelle fiche</h1>

    {{ include('fiche_frais/_form.html.twig') }}

    <a href="{{ path('app_fiche_frais_index') }}">retour</a>
{% endblock %}
